*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container{
    background-color: #e6b08e;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
   }  
  
  .ContainerBox{
       display:flex;
      align-items:center;
      justify-content:center; 
      height:100vh;
     
      
  }
     .form-box{ 
        width:700px;
        height:450px;
        background-color:rgb(4, 4, 4);
        padding:20px;
         display:flex;
        align-items:center;
        justify-content:center;  
        opacity:0.5;
        border-radius: 10px;
    } 
  .header-form h1{
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
  .btn-primary{
    
    font-size: large;
    background: #d0ece2;
    border: 1px solid black;
    color: rgb(18, 14, 14);
    padding: 20px 40px;
    border-radius: 5px;
    margin-left: 170px;
    margin-top: 20px;
  }
   .form-control{
    
    padding: 20px 120px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    margin: 15px;
  } 
button:hover {
    color: rgb(14, 17, 17);
    background-color: rgb(211, 206, 206);
}
 
   
 
 
  